nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(to top, #ff9933 0%, #ff3300 100%);
  color: black;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main {
  text-align: center;
}

header {
  background: #ff9933;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  border-style: solid;
  border-radius: 10px;
  border-color: #ff3300;
  border-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

button {
  border-style: solid;
  border-color: #ff9933;
  border-width: 3px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  border-color: #ff3300;
}

input, textarea, select {
  color: black;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  width: 35vw;
}

textarea {
  resize: none;
  height: 60px;
 }
