nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(to top, #00ff99 0%, #0066cc 100%);
  color: black;
  width: 100%;
}

.nav-links {
  color: black;
  font-weight: bold;
}

.main {
  text-align: center;
  width: 100%;
}

header {
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
  border-style: solid;
  border-radius: 10px;
  border-color: #0066cc;
  border-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
}

button:hover {
  border-color: #00ff99;
}

.normalIn,
textarea,
select {
  color: black;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  width: 35vw;
  height: 25px;
  border-color: grey;
}

.shortIn {
  color: black;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  border-color: grey;
}

.medIn {
  color: black;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  width: 90px;
  height: 25px;
  border-color: grey;
}

textarea {
  resize: none;
  height: 60px;
  border-color: grey;
}

.ingredientRow {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  margin: 3%;
  min-width: 20%;
  max-width: 45%;
}
